body{
    background-color:blue;
}
h1,h2{
    color:red;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

header{
    width: 100%;
    background-color: darkblue;
}

.logo{
    color: black;
    text-align: center;
    font-size: 1.4em;
}
nav{
    color: black;
    text-align: center;
    font-size: 1.4em;
}

.banner{
    width: 100%;
}

.container{
    background-color: black;
    width: 80%;
    margin: auto;
    color: white;
    text-align: center;
}

footer{
    background-color: gray;
    color: white;
    font-size: 1.3em;
    text-align: center;
}