body{
    background-image:url(https://static.vecteezy.com/ti/vetor-gratis/p3/4698808-teia-de-aranha-com-silhueta-da-cidade-e-copyspace-adequado-para-ilustracao-de-fundo-gratis-vetor.jpg)

}
h1,h2{
    color:red;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

header{
    width: 100%;
    background-color: darkblue;
}

.logo{
    color: black;
    text-align: center;
    font-size: 1.4em;
}
nav{
    color: black;
    text-align: center;
    font-size: 1.4em;
}

.banner{
    width: 100%;
}

.container{
    background-color: black;
    width: 80%;
    margin: auto;
    color: white;
    text-align: center;
}

footer{
    background-color: gray;
    color: white;
    font-size: 1.3em;
    text-align: center;
}
p{
    width: 80%;
    margin: auto;
}